.DS_Store

node_modules

.cache
.vercel
.output

public/build
api/_build
/app/tailwind.css
coverage
build

cypress/videos
cypress/downloads

contentful-export*
import-scripts

.env

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/playwright/.cache/


.astro