---
import BaseLayout from '../layouts/BaseLayout.astro'
import Timeline from '../components/Timeline.astro'

const title = 'About - Andrew Usher'
const description = 'Learn more about Andrew Usher, a dedicated front-end web developer and designer.'
---

<BaseLayout title={title} description={description}>
  <div class="mx-auto min-h-[80vh] max-w-screen-xl p-8">
    <div class="prose mb-8 max-w-screen-xl dark:prose-invert lg:prose-xl">
      <h2>About Me</h2>

      <p>
        I'm a dedicated and dependable front-end web developer and designer that
        specializes in landing pages and personal portfolios. My goal is to use
        the Internet to reach out to others and assist them in establishing an
        online presence. I like to build things - usually with technology, and I
        believe technology should enhance every person's life.
      </p>

      <p>
        Throughout my life, I've had a passion for computers. As a teenager, I
        toyed around in programs like Adobe Illustrator and got pretty good at it.
        Now, I'm super passionate about web design and development, and I have one
        year of study behind me.
      </p>

      <p>
        I also enjoy cycling around the city and exploring, and have been riding
        bikes for over 10 years and have completed trips ranging from 20 to 40
        miles. I'm inspired by a cup of hot chocolate, good music, and interesting
        documentaries.
      </p>
    </div>

    <Timeline />
  </div>
</BaseLayout>
