---
import NavLink from './NavLink.astro'
import SearchDropdown from './SearchDropdown'
---

<header class="bg-white dark:bg-neutral-900" transition:persist>
  <div
    class="top-0 h-1 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
  >
  </div>

  <div
    class="mx-auto flex max-w-screen-xl flex-col items-center justify-between p-8 lg:flex-row"
  >
    <h1 class="text-4xl font-bold dark:text-white">
      <a href="/">Andrew Usher</a>
    </h1>
    <nav class="hidden items-center justify-between lg:flex">
      <NavLink href="/about">About Me</NavLink>
      <NavLink href="/blog">Blog</NavLink>
      <a
        href="/resume.pdf"
        data-astro-reload
        class="ml-8 block lg:text-xl first:ml-0 dark:text-white text-base"
      >
        Resume
      </a>
      <SearchDropdown client:load />
    </nav>
    <nav class="mt-6 flex items-center lg:hidden">
      <NavLink href="/blog">Blog</NavLink>
      <NavLink href="/contact">Contact Me</NavLink>
      <a
        href="/resume.pdf"
        data-astro-reload
        class="ml-8 block lg:text-xl first:ml-0 dark:text-white text-base"
      >
        Resume
      </a>
      <SearchDropdown client:load />
    </nav>
  </div>
</header>
